

{% if user.is_authenticated %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {% load crispy_forms_tags %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/group.css" rel="stylesheet" />
        <title>Edit Complaint</title>
    </head>
    <body>
        <h1>EDIT COMPLAINT FOR STUDENT {{complaint.Registration_number}}</h1>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <input type="Submit" class="btn btn-primary">
                <button class="btn btn-warning"><a href="{% url 'examoffice_page' %}">Cancel</a></button>
            </form>
        </div>
    </body>
    </html>
{% endif %}