
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load crispy_forms_tags %}
    <link href="/static/css/group.css" rel="stylesheet" />
    <title>Academic Registra</title>
  </head>
  <body class="student">
    <div class="main">
      <div class="complaint">
        <table class="table table-striped">
          <thead>
              <th scope="col">Complaint id</th>
              <th scope="col">Complaint Date</th>
              <th scope="col">Registration Number</th>
              <th scope="col">Complaint Type</th>
          </thead>
          <tbody>
              {% for complaint in complaint %}
                  <tr>
                      <th scope="row">{{complaint.id}}</th>
                      <td>{{complaint.Date}}</td>
                      <td>{{complaint.Registration_number}}</td>
                      <td>{{complaint.Complaint_type}}</td>
                      <td>
                         <!-- Button trigger modal -->
                          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                              VIEW DETAILS
                          </button>
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
        <button class="btn btn-success">APPROVE COMPLAINT</button>
      </div>
      <div class="heading">
        <div class="head">
            <h1>Academic Registra Form</h1>
        </div>
        <div class="form-control" id="arForm" data-courses-url="{% url 'ajax_load_courses' %}" data-lecturers-url="{% url 'ajax_load_lecturers' %}" novalidate>
          <form method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <center>
              <div>
                  <button class="btn btn-outline-success">SEND EMAIL</button>
              </div><br><br>
              </center>
          </form>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                      {% for complaint in complaint %} 
                          Complaint filed by {{complaint.Registration_number}}
                      {% endfor %}
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <table border="3">
                  <thead>
                    <th scope="col">Complaint id</th>
                    <th scope="col">Complaint Date</th>
                    <th scope="col">Registration Number</th>
                    <th scope="col">Complaint Type</th>
                    <th scope="col">Paper Code</th>
                    <th scope="col">Paper Name</th>
                    <th scope="col">Year of Exam</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Session</th>
                  </thead>
                  <tbody>
                    {% for complaint in complaint %}
                      <tr>
                        <th scope="row">{{complaint.id}}</th>
                        <td>{{complaint.Date}}</td>
                        <td>{{complaint.Registration_number}}</td>
                        <td>{{complaint.Complaint_type}}</td>
                        <td>{{complaint.Paper_Code}}</td>
                        <td>{{complaint.Paper_Name}}</td>
                        <td>{{complaint.Year_Of_Exam}}</td>
                        <td>{{complaint.Semester}}</td>
                        <td>{{complaint.Session}}</td>                      
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

  {% include 'includes/scripts.html' %}


  

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $("#id_Faculty").change(function () {
        var url = $("#arForm").attr("data-courses-url");  // get the url of the `load_courses` view
        var facultyId = $(this).val();  // get the selected faculty ID from the HTML input

        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/ajax/load-courses/)
          data: {
            'faculty': facultyId       // add the faculty id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_courses` view function
            $("#id_Course").html(data);  // replace the contents of the course input with the data that came from the server
          }
        });

      });
    </script>

    <script>
      $("#id_Course").change(function () {
        var url = $("#arForm").attr("data-lecturers-url");  // get the url of the `load_courses` view
        var courseId = $(this).val();  // get the selected faculty ID from the HTML input

        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/ajax/load-courses/)
          data: {
            'course': courseId       // add the faculty id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_courses` view function
            $("#id_Lecturer").html(data);  // replace the contents of the course input with the data that came from the server
          }
        });

      });
    </script>

  </body>
</html>

