
{% if user.is_superuser or user.is_ar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ redirect_to_login_immediately }}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load crispy_forms_tags %}
    <link href="/static/css/group.css" rel="stylesheet" />
    <title>Academic Registra</title>
  </head>
  <body class="student">
    <div class="armain">
      <div class="arcomplaint">
        <h1>COMPLAINTS FOR APPROVAL</h1>
        <table class="table table-striped">
          <thead>
              <th scope="col">Complaint id</th>
              <th scope="col">Complaint Date</th>
              <th scope="col">Registration Number</th>
              <th scope="col">Complaint Type</th>
          </thead>
          <tbody>
            {% for filtered_complaints in filtered_complaints %}
              <tr>
                <th scope="row">{{filtered_complaints.Complaint_id}}</th>
                <td>{{filtered_complaints.Date}}</td>
                <td>{{filtered_complaints.Registration_number}}</td>
                <td>{{filtered_complaints.Complaint_type}}</td>
                <td>
                  <a href="{% url 'ar_display_page' filtered_complaints.Complaint_id %}">
                    <button  class="btn btn-success">VIEW DETAILS</button>
                  </a>
                </td>
              </tr>
              {% empty %}
                <center><h4>No objects found.</h4></center>
            {% endfor %}
          </tbody>
      </table>
      </div>
      <div class="arheading">
        <div class="head">
            <h1>ACADEMIC REGISTRAR FORM</h1>
        </div>
        <div class="form-control" id="arForm" data-courses-url="{% url 'ajax_load_courses' %}" data-lecturers-url="{% url 'ajax_load_lecturers' %}" novalidate>
          <form method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <center>
              <div>
                  <button class="btn btn-outline-success">SEND EMAIL</button>
              </div><br><br>
              </center>
          </form>
        </div>
      </div>
    </div>

  {% include 'includes/scripts.html' %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $("#id_Faculty").change(function () {
        var url = $("#arForm").attr("data-courses-url");  // get the url of the `load_courses` view
        var facultyId = $(this).val();  // get the selected faculty ID from the HTML input

        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/ajax/load-courses/)
          data: {
            'faculty': facultyId       // add the faculty id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_courses` view function
            $("#id_Course").html(data);  // replace the contents of the course input with the data that came from the server
          }
        });

      });
    </script>

    <script>
      $("#id_Course").change(function () {
        var url = $("#arForm").attr("data-lecturers-url");  // get the url of the `load_courses` view
        var courseId = $(this).val();  // get the selected faculty ID from the HTML input

        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/ajax/load-courses/)
          data: {
            'course': courseId       // add the faculty id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_courses` view function
            $("#id_Lecturer").html(data);  // replace the contents of the course input with the data that came from the server
          }
        });

      });
    </script>
  </body>
</html>
{% endif %}
