

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/group.css" rel="stylesheet" />
    <title>complaint</title>
</head>
<body class="student">
    
    <div class="main">
        <div class="heading">
            <div class="head">
                <h1>Complaint Registration Form</h1>
            </div>
            <div class="form-control">
              <form method="POST" id="complaintForm" data-session-url="{% url 'ajax_load_session' %}" novalidate>
                  {% csrf_token %}
                  {{form|crispy}}
                  <button class="btn btn-info"><a href="{% url 'student_add' %}">BACK</a></button>
                  <button type="submit" class="btn btn-primary">SUBMIT</button>
              </form>
            </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $("#id_Study_mode").change(function () {
        var url = $("#complaintForm").attr("data-session-url");
        var study_modeId = $(this).val();
        
        $.ajax({
          url: url,
          data: {
            'study': study_modeId
          },
          success: function (data) {
            $("#id_Semester").html(data);
          }
        });
  
      });
    </script>

</body>
</html>