
<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
  <h2>Human Resources Module » People Management</h2>
<!--- 
we are going to use this template for our payment interface
since it enables entering data to the display table through the UI
-->
  <p>
    <a href="{% url 'student_add' %}">Add Student</a>
  </p>

  <table border="1">
    <thead>
      <tr>
        <th>Registrtion Number</th>
        <th>Faculty</th>
        <th>Course</th>
        <th>Current Year</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for student in people %}
        <tr>
          <td><a href="{% url 'student_change' student.pk %}">{{ student.Registration_number }}</a></td>
          <td>{{ student.Faculty }}</td>
          <td>{{ student.Course }}</td>
          <td>{{ student.Current_Year }}</td>
          <td>{{ student.Email }}</td>
          <td>{{ student.Phone_Number }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No student in the database. <a href="{% url 'student_add' %}">Add the first student</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>
