<html>
<head>
    <title>Download Pdf</title>
</head>
<body>
    <h3><center>Faculty List</center></h3>
    <table class="table table-striped">
        <thead>
            <th scope="col">Faculty id</th>
            <th scope="col">Faculty Name</th>
            <th scope="col">Faculty Co-ordinator</th>
        </thead>
        <tbody>
            {% for faculty in faculty %}
                <tr>
                    <th scope="row">{{faculty.id}}</th>
                    <td>{{faculty.Faculty_Name}}</td>
                    <td>{{faculty.Faculty_Coordinator}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>