



<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/group.css" rel="stylesheet" />
    <title>complaint submittion</title>
</head>
<body class="student">
    
    <div class="main">
        <div class="form-control">
            <center><p>Your complaint has been submitted successfully.</p>
                <p>Your Tracking code is:  "{{ complaint.track_code }}"  Please keep it safe,</p>                
                <p>You will use it to track the status of your complaint.</p>                
                <a href="{% url 'home_page' %}"><button class="btn btn-info">OK</button></a>
            </center>
        </div>
    </div>
</body>
</html>