

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/group.css" rel="stylesheet" />
    <title>Exam office</title>
</head>
<body class="examoffice">
    
    <div class="mainexamoffice">
        <div class="complaintexam">
            <h1>Complaints</h1>
           
            <table class="table table-striped">
                <thead>
                    <th scope="col">Complaint id</th>
                    <th scope="col">Complaint Date</th>
                    <th scope="col">Registration Number</th>
                    <th scope="col">Complaint Type</th>
                </thead>
                <tbody>
                    {% for complaint in complaint %}
                        <tr>
                            <th scope="row">{{complaint.id}}</th>
                            <td>{{complaint.Date}}</td>
                            <td>{{complaint.Registration_number}}</td>
                            <td>{{complaint.Complaint_type}}</td>
                            <td>
                               <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                                    VIEW DETAILS
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button class="btn btn-info">SEND COMPLAINT</button>
        </div>
        
        <div class="headingexam">
            <div class="headexam">
                <h1>Exam Office Form</h1>
            </div>            
            <div class="studentresults">
                <div class="form-control">
                    <h3>Check for Student's Results</h3>
                    <hr>
                    <form method="get">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <hr>
                        <button type="submit" class="btn btn-primary">Filter</button>
                        <button class="btn btn-info">CHECK PAYMENT</button>
                    </form>
                </div>
            </div>
            <hr style="width:80%;">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {% for complaint in complaint %} 
                            Complaint filed by {{complaint.Registration_number}}
                        {% endfor %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table border="3">
                        <thead>
                            <th scope="col">Complaint id</th>
                            <th scope="col">Complaint Date</th>
                            <th scope="col">Registration Number</th>
                            <th scope="col">Complaint Type</th>
                            <th scope="col">Paper Code</th>
                            <th scope="col">Paper Name</th>
                            <th scope="col">Year of Exam</th>
                            <th scope="col">Semester</th>
                            <th scope="col">Session</th>
                        </thead>
                        <tbody>
                            {% for complaint in complaint %}
                                <tr>
                                    <th scope="row">{{complaint.id}}</th>
                                    <td>{{complaint.Date}}</td>
                                    <td>{{complaint.Registration_number}}</td>
                                    <td>{{complaint.Complaint_type}}</td>
                                    <td>{{complaint.Paper_Code}}</td>
                                    <td>{{complaint.Paper_Name}}</td>
                                    <td>{{complaint.Year_Of_Exam}}</td>
                                    <td>{{complaint.Semester}}</td>
                                    <td>{{complaint.Session}}</td>                      
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

  {% include 'includes/scripts.html' %}

</body>
</html>





















            <!---
            <div class="results">
                {% if queryset %}
                    <table>
                        <thead>
                            <tr>
                            <th>Reg number</th>
                            <th>Faculty</th>
                            <th>Course</th>
                            <th>Year</th>
                            <th>Semester</th>
                            <th>Paper Code</th>
                            <th>Paper Name</th>
                            <th>Mark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <center><h3>RESULTS FOR {{item.Registration_number}} SELECTED STUDENT</h3></center>
                            {% for item in queryset %}
                                <tr>
                                    <td>{{ item.Registration_number }}</td>
                                    <td>{{ item.Faculty }}</td>
                                    <td>{{ item.Course }}</td>
                                    <td>{{ item.Year }}</td>
                                    <td>{{ item.Semester }}</td>
                                    <td>{{ item.Paper_code }}</td>
                                    <td>{{ item.Paper_name }}</td>
                                    <td>{{ item.Mark }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>NO MATCHING RESULTS FOUND.</p>
                {% endif %}
            </div>
        </div>
    -->
