<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="/static/css/group.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body class="student">
    <h1></h1>
    <div class="main">
        <div class="heading">
            <img src="/static/image/logo-white.png" alt="error" style="height: 100px; width: 95%;">
            <div class="head">
                <h1>Exam Complaint Application Platform</h1>
            </div>
            
            <center>
                <div class="homelinks">
                    <div style="width: 300px;">
                        <a href="{% url 'student_add' %}">
                            <button class="homeButtons">EXAM RE-MARK</button>
                        </a>
                    </div>
                    <div>
                        <a href=""><button class="btn homeButtons" >MISSING MARKS</button>
                        </a>
                    </div>
                    <div>
                        <a href=""><button class="btn homeButtons" >RE-TAKE / TAKE</button>
                        </a>
                    </div>
                </div>
            </center>
        </div>
            
</body>
</html>