<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="/static/css/group.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body class="student">
    <h1></h1>
    <div class="main">
        <div class="heading">
            <div class="head">
                <h1>Exam Complaint Application Platform</h1>
            </div>
            <div class="homeButtons">
                <a href="{% url 'student_add' %}"><button>EXAM REMARK</button></a>
            </div>
            <div class="homeButtons">
                <a href=""><button>MISSING MARKS</button></a>
            </div>
            <div class="homeButtons">
                <a href=""><button>RETAKE/TAKE</button></a>
            </div>
        </div>
    
</body>
</html>